#  uEmu - knownledge base extraction configuration template
#  ------------------------------------------------------

#  Copyright (C) 2019-2021 Wei Zhou

#  Licensed under the Apache License,Version 2.0 (the License);
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at:

#    http://www.apache.org/licenses/LICENSE-2.0

[MEM_Config]
# Configure rom and ram used for the target firmware (at most for two of each)
rom = 0x00000000,0x40000
ram = 0x20000000,0x40000
vtor = 0x00000000

[IRQ_Config]
# Configure the interval tb number of trigger for external irqs of target firmware
irq_tb_break = 500
# Disable muilt-path mode in interrupt or not
enable_extended_irq = true
# Disable systick interrupt until the state won t be changed or not
disable_systick = false
disable_irqs = 


[INV_Config]
# Configure the cache loop number used for dead loop judgement and max known tb number used for invlid states judgement
bb_inv1 = 15
bb_inv2 = 500
bb_terminate = 10000
kill_points = 
# 0x8000e0c 0x80011c0
alive_points = 

[TC_Config]
t2_function_parameter_num = 3
t2_caller_level = 2
t2_max_context = 5
t3_max_symbolic_count = 10

[Fuzzer_Config]
enable_fuzz = false
allow_auto_mode_switch = true
